
/* media query to make the game fill more of the screen on mobile*/
@media (min-width: 480px) {
    #canvas {
        width: 100%;
        margin: 3% 0 0 0;
    }
}


/* makes the game size responsive*/
#canvas {
   width:40%;
   margin:7% 0 0 0;

}
/*places a background image that covers the whole webpage's width*/
body{
    background-image: url('../assets/images/adventure_time_background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
